
<h1>Log in</h1>
<form action="/users/login" method="post">
    <input name="username" placeholder="Username or Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log in">
</form>


<p>No account? <a href="/users/register">Register here</a> </p>