<h1>Register</h1>
<%- include('partials/messages') %> 

<form action="/users/register" method="post">
    <input name="email" placeholder="Email">
    <input name="first_name" placeholder="First name">
    <input name="last_name" placeholder="Last name">
    <input name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Register">
</form>


<p>Already registered? <a href="/users/login">Log in here</a> </p>