<div>
    <% for (user of users) { %> 
        <div class="user_list">
            <% for (online_user of online_users) { %> 
                <% if (user._id == online_user._id || user._id == current_user._id) {%> 
                        <div id="<%= `online_status_${user._id}` %>" class="online_status online">
                        </div>
                <% } else { %> 
                        <div id="<%= `online_status_${user._id}` %>" class="online_status">
                        </div>
                <% } %> 
            <% } %> 
            <a href="/users/<%= user._id %>"><%= user.username %></a>
        </div>
    <% } %> 
</div>

<script src="/public/scripts/sidebar.js"></script>
